.data-table {
    width: 100%;
    padding: 1%;
    background-color: white
}

td, th {
    text-align: center;
    vertical-align: middle;
}

.label {
    background-color: lightgray;
}

.mat-raised-button{
    background-color: #ff8c00;
    color: white;
    margin: 2px;
}