.label-schema {
    color: gray;
    font-weight:bolder;
    text-align: center;
    font-weight: bolder;
}

.title {
    color: #ff8c00;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
}
